*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# APK Files
*.apk
*.aab

# Generated APK with custom name
Nhn_Grensil_*.apk

# Keystore files
*.keystore
*.jks
release-key.keystore
